<div class="dropdown">
  <!-- <button class="dropdown-button">Kategorien</button> -->
  <a onclick="showDropdown('category-dropdown')" class="dropdown-button {% if page.layout == 'category' %} active{% endif %}">Kategorien</a>
  <div id="category-dropdown" class="dropdown-content">

{% comment %}
  Dynamically generate list of links to all category pages
{% endcomment %}
{% assign pages_list = site.pages|sort:"sidebar_sort_order" %}
{% for node in pages_list %}
  {% if node.title != null %}
    {% if node.layout == "category" %}
      <a class="category-link {% if page.url == node.url %} active{% endif %}"
          href="{{ node.url | relative_url }}">{{ node.title }}</a>
    {% endif %}
  {% endif %}
{% endfor %}

  </div>
</div>
