{% capture i18n_date %}
{% assign day = page.date | date: "%-d" %}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{% assign month = site.months[m] %}
{% assign year = page.date | date: "%Y" %}
{% assign formattedDate = day | append: ". " | append: month | append: " " | append: year %}
{% endcapture %}

<div class="post-meta">
  <!-- <span class="post-date">{{ include.post.date | date_to_string }}</span> -->
  <span class="post-date">{{ formattedDate }}</span>
  <span class="post-categories">
    {% for category in include.post.categories %}
      &bull;

      {% comment %}
        Check if this category has a corresponding page before decide
        to link to it. This is an O(n^2) operations so consider removing
        it and linking for all categories (or no categories) if this
        site has a lot of pages and/or a lot of categories.
      {% endcomment %}
      {% assign category_page = false %}
      {% for node in site.pages %}
        {% if node.category == category or node.title == category %}
          {% assign category_page = node %}
        {% endif %}
      {% endfor %}

      {% if category_page %}
        <a href="{{ category_page.url | relative_url }}">{{ category_page.title | default: category_page.category }}</a>
      {% else %}
        {{ category }}
      {% endif %}
    {% endfor %}
  </span>
</div>
