---
layout: page
---

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

<ul class="posts-list">
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    {% include formatted-date.html date=post.date %}
    <li>
      <h3>
        <a href="{{ post.url | relative_url }}">
          {{ post.title | smartify }}
          <!-- <small>{{ post.date | date_to_string }}</small> -->
          <small>{{ formattedDate }}</small>
        </a>
      </h3>
    </li>
  {% endfor %}
</ul>
