---
layout: default
---

<div class="content">
  {% include pagination-newer.html %}

  {{ content }}

  {% for post in paginator.posts %}
  <article class="post-body">
    <h2 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title | smartify }}
      </a>
    </h2>
    {% include post-meta.html post=post %}

    {% if post.excerpt %}
    <p>
      {{ post.excerpt | markdownify | strip_html | truncatewords: 180, ' …' }}
    </p>
    {% endif %}

    <a href="{{ post.url | relative_url }}">Weiterlesen &hellip;</a>

  </article>
  {% endfor %}

  {% include pagination-older.html %}
</div>
